header{
    text-align: center;
    background-color: gray;
}
main{
    text-align: center;
}

body{
    background-color:aquamarine;
}

h1{
     font-weight: bold;
}

nav {
  float: left;
  width: 10%;
  height: 1000px;
  background-color: peachpuff;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
table{
    width:80%;
        border: 1px solid black;
    padding: 8px;
}
main ol{
        list-style-type: none;
        padding: 0;
        
    }

td, th {
  border:none;
  text-align: center;
  padding: 8px;
}
ul{
    list-style-type: none;
}
.Me{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
 height:100px;
}

blockquote{
    font:italic;
    font-weight: bold;
}

.ui.vertical.menu{
    background-color: peachpuff;
    
}

.ui.link.cards{
    padding-top: 50px;
}

.ui.row{
    padding: 50px;
    
}

.form{
         
            display: flex;
            justify-content: center;
            align-items: center;    
    text-align: center;
    flex:40%;
}